.devotion-heading-container {
    position: relative;
    display: block;
    color: rgb(54, 81, 88);
    
    /* This accounts for the nav height plus some padding */
    scroll-margin-top: calc(3.5rem + 1rem);

    .devotion-heading {
        margin: 0;
    }

    .heading-link {
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        transform: translateY(-50%);
        display: none;

        &:active {
            color: rgb(4, 31, 37);
        }

        i {
            height: 1rem;
            width: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .devotion-heading-container {
        margin-left: -2rem;
        padding-left: 2rem;

        &:hover {
            .heading-link {
                display: block;
            }
        }
    }
}